.filterButtonRow {
  width: 480px;
  display: inline;
}

.chartsContainer {
  display: flex;
  justify-content: center;
}

@media (max-width: 830px) {
  .chartsContainer {
    display: grid;
  }
}

.datepickerHidden {
  display: none !important;
}
