.breadcrumbTrail {
  color: #737689;
  min-height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c3c3c3;
}

@media (max-width: 1000px) {
  .breadcrumbTrail {
    height: 45px;
    min-height: 45px;
  }
}

.breadcrumb {
  margin: 0px 40px;
}
