.filterOff {
  font-family: "din condensed bold";
  color: #fff;
  font-size: 16px;
  background-color: #09d0a3;
  border-radius: 19px;
  border: none;
  margin: 5px;
  padding: 5px 20px;
  opacity: 0.5;
}

.filterOn {
  compose: filterOn;
  opacity: 1;
}
