.wrapperNav {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1208px) {
  .wrapperNav {
    flex-direction: column;
  }
}

.wrapperFiltro {
  padding: 10px 10px 0px 20px;
  width: 100%;
}

@media (max-width: 1000px) {
  .wrapperFiltro {
    padding: 0px;
  }

  .wrapperNav {
    margin: 0px;
  }
}
