.values {
  font-size: 12px;
  font-family: "avenir black";
  color: #4a4a4a;
}

.totalContainer {
  width: 251px;
  margin-left: 65px;
}

.totalText {
  display: flex;
  -webkit-justify-content: center;
}
.donutChartContainer {
  margin-top: 40px;
}
