.values {
  font-size: 12px;
  font-family: "avenir black";
  color: #4a4a4a;
}

.totalContainer {
  width: 320px;
  margin-left: 35px;
}

.totalText {
  display: flex;
  justify-content: space-between;
}
