.menuItem {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 15px;
  align-self: center;
  cursor: pointer;
}

.selected {
  color: #fff;
}

.notSelected {
  color: #049c7a;
}

.alignSelfCenter {
  align-self: center;
}
