.page-view {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  background-color: #f5f7fa;
}

.flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper-nav {
  margin: 10px 10px 0px 10px;
}

@font-face {
  font-family: "din condensed bold";
  src: url("./assets/fonts/din-condensed-bold/din-condensed-bold.woff2")
      format("woff2"),
    url("./assets/fonts/din-condensed-bold/din-condensed-bold.woff")
      format("woff"),
    url("./assets/fonts/din-condensed-bold/din-condensed-bold.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avenir black";
  src: local("Avenir Black"), local("Avenir-Black"),
    url("./assets/fonts/avenir-black/Avenir-Black.woff2") format("woff2"),
    url("./assets/fonts/avenir-black/Avenir-Black.woff") format("woff"),
    url("./assets/fonts/avenir-black/Avenir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "avenir heavy";
  src: local("Avenir Heavy"), local("Avenir-Heavy"),
    url("./assets/fonts/avenir-heavy/Avenir-Heavy.woff2") format("woff2"),
    url("./assets/fonts/avenir-heavy/Avenir-Heavy.woff") format("woff"),
    url("./assets/fonts/avenir-heavy/Avenir-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "avenir medium";
  src: local("Avenir Medium"), local("Avenir-Medium"),
    url("./assets/fonts/avenir-medium/Avenir-Medium.woff2") format("woff2"),
    url("./assets/fonts/avenir-medium/Avenir-Medium.woff") format("woff"),
    url("./assets/fonts/avenir-medium/Avenir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "avenir roman";
  src: local("Avenir Roman"), local("Avenir-Roman"),
    url("./assets/fonts/avenir-roman/Avenir-Roman.woff2") format("woff2"),
    url("./assets/fonts/avenir-roman/Avenir-Roman.woff") format("woff"),
    url("./assets/fonts/avenir-roman/Avenir-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
