@import "./variables.scss";

.page-view {
  height: -webkit-fill-available;
  width: -webkit-fill-available;

  display: flex;
  flex-direction: row;
  background-color: $background-color;
}

.flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper-nav {
  margin: 10px 10px 0px 10px;
}
