.unselectedNavItem {
  display: inline-flex;
  align-items: center;
  margin: 20px 0px 10px 20px;
  cursor: pointer;
  width: max-content;
  font-family: "avenir heavy";
  color: #737689;
  font-size: 14px;
  opacity: 0.5;
  padding-left: 5px;
}

.selectedNavItem {
  composes: unselectedNavItem;
  opacity: 1;
}

@media (max-width: 1000px) {
  .unselectedNavItem {
    margin: 20px 0px;
  }
}
